body {
    background-color: #fffde6;
    font-family: 'Lato', Verdana, sans-serif;
    font-weight: bold;
}

#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 10%;
}

#calculator {
    display: grid;
    margin: 0 auto;
    grid-gap: 0.25em;
    background-color: #1b1b1b;
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: 0.25em 0.25em 0.10em #000000c7;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-self: center;
    height: 30em;
    width: 18em;
}

#display {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    width: 90%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
}

#func-bksp {
    grid-row-start: 2
}

#func-clear {
    color: orange;
    grid-row-start: 1;
    grid-column-start: 4;
}

#func-div {
    grid-row-start: 2;
    grid-column-start: 2;
}

#func-mul {
    grid-row-start: 2;
}

#func-sub {
    grid-row-start: 2;
}

#func-add {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 4;
}

#func-equal {
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 4;
}

#num-0 {
    grid-column-start: 1;
    grid-column-end: 3;
}


.num {
    color: #af6060;
}

.num:hover {
    color: #ca4646;
    font-weight: bold;
}

.func {
    color: #cdbc5a;
}

.func:hover {
    color: #ece2a4;
    font-weight: bold;
}

li {
    list-style-type: none;
    padding: 0.5em;
    background-color: #535151;
    border-radius: 0.5em;
}

li:hover {
    background: #949292;    
}

#credit {
    margin-top: 4em;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    font-size: 1.05em;
    align-self: center;
}

#credit a, #credit a:visited {
    text-decoration: none;
    color: blue;
}

#credit a:hover {
    color: firebrick;
}

#func-equal, #func-bksp, #func-dec {
    color: white;
}